.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.main {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); */
  grid-gap: 1rem;
  width: 60%;
  margin: 0 auto;


  
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%;
  }
}
